<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">

	<Product Id="6db0bb7d-04ae-4eb0-8aeb-a1189be1c371" 
					 Name="PokeFortune" 
					 Language="1033"
					 Version="0.1.0.0"
					 Manufacturer="Atlantixs"
					 UpgradeCode="0b798f4c-6ae4-4c5c-a989-445c025442e7">
		
		<Package InstallerVersion="200" 
						 Compressed="yes"
						 InstallScope="perMachine" />
		
		<Icon Id="icon.ico" SourceFile="$(var.PokeFortune.ProjectDir)PokeFortune.ico" />
		<Property Id="ARPPRODUCTICON" Value="icon.ico" />
		<!--<UIRef Id="WixUI_Minimal" />-->

		<MajorUpgrade DowngradeErrorMessage="A newer version of PokeFortune is already installed." />
		<MediaTemplate EmbedCab="yes"/>

		<Feature Id="ProductFeature" Title="PokeFortune" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
			<!--<ComponentRef Id="ApplicationShortcut" />-->
			<ComponentRef Id="ApplicationShortcutDesktop" />
		</Feature>
	</Product>
</Wix>
